body {
    font-family: Pretendard, Arial, sans-serif;
    text-align: center;
    margin: 5px; /* 외부 여백 추가 */
    padding: 0;
    height: calc(100vh - 100px); /* 창 높이에 외부 여백만큼 뺌 */
    box-sizing: border-box;
}

/* 전체 테이블 스타일 */
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    height: 100%; /* 테이블 높이 전체 화면에 맞춤 */
}

/* 테이블 데이터 셀 스타일 */
td {
    width: 33%;
    vertical-align: top;
    padding: 10px;
}

/* iframe 스타일 - 가로 100%, 세로 동적으로 설정 */
iframe {
    width: 100%;
    height: 100%; /* 부모 높이에 맞게 동적 설정 */
    border: none;
}

/* 룰렛 컨테이너 스타일 */
#roulette-container {
    position: relative;
    width: calc(90% - 80px);
    height: calc(90% - 80px); /* 부모 요소에 맞춰서 룰렛 크기 조정 */
    margin: 0 auto;
    box-sizing: border-box;
}

#roulette-table {
}

/* 캔버스 스타일 */
canvas {
    display: block;
    margin: 0 auto;
}

/* 룰렛 화살표 스타일 */
.pointer {
    position: absolute;
    top: -20px; /* 화살표 위치를 중심에 맞춤 */
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 40px;
    background-color: black;
}

/* 입력 필드 스타일 */
input {
    margin: 10px;
    padding: 5px;
}

/* 숫자 입력 필드 스타일 */
input[type="number"] {
    width: 80%;
    max-width: 100px;
    box-sizing: border-box;
}

/* 버튼 스타일 */
button {
    padding: 5px 10px;
    background-color: #478968;
    color: white;
    border: none;
    cursor: pointer;
}

/* 버튼 호버 스타일 */
button:hover {
    background-color: #356c54;
}

/* 메뉴 리스트 테이블 스타일 */
#menuList {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    max-height: 200px; /* 최대 높이를 제한 */
    overflow-y: auto; /* 스크롤 허용 */
    display: block; /* 테이블 스크롤을 위한 블록화 */
}

/* 테이블 헤더 및 데이터 셀 스타일 */
th, td {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
}

/* 동적 행 높이 */
.dynamic-row {
    height: calc(100% - 60px); /* 남은 공간을 계산해 동적 높이 설정 */
    overflow-y: auto; /* 2행 스크롤 추가 */
}
